<form [formGroup]="customForm" (ngSubmit)="saveForm()">
  <mat-card>
    <mat-card-content>
      <mat-form-field class="mat-50">
        <mat-label>Name</mat-label>
        <input formControlName="name" matInput />
      </mat-form-field>
      <mat-form-field class="mat-50">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput />
      </mat-form-field>
      <mat-form-field class="mat-50">
        <mat-label>Phone</mat-label>
        <input formControlName="phone" matInput />
      </mat-form-field>
      <mat-form-field class="mat-50">
        <mat-label>Country</mat-label>
        <!--<input matInput />-->
        <mat-select formControlName="country">
          <mat-option [value]="item" *ngFor="let item of countryList"
            >{{ item }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Address</mat-label>
        <!--<input matInput />-->
        <textarea formControlName="address" matInput></textarea>
      </mat-form-field>
      <mat-form-field class="mat-50">
        <mat-label>Term</mat-label>
        <input formControlName="term" [matAutocomplete]="auto" matInput />
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let item of termList" [value]="item">
            {{ item }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field class="mat-50">
        <mat-label>Date of birth</mat-label>
        <input formControlName="dob" matInput [matDatepicker]="picker" />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-hint>MM/dd/yyyy</mat-hint>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div>
        <mat-radio-group color="primary" formControlName="gender">
          <mat-radio-button value="Male">Male </mat-radio-button>
          <mat-radio-button value="Female">Female </mat-radio-button>
        </mat-radio-group>
        <mat-checkbox color="primary" formControlName="status"
          >Is Active</mat-checkbox
        >
      </div>
    </mat-card-content>
    <mat-card-footer>
      <div style="margin: 2%; text-align: right">
        <button mat-raised-button type="submit" color="primary">Save</button>
        <button mat-raised-button color="warn" (click)="clearForm()">
          Clear
        </button>
      </div>
    </mat-card-footer>
  </mat-card>
</form>
